.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {/* fade-leave-active be */
opacity: 0;
}

body {
    background-color: black;
    color: white;
}