body{
    background: url('pic.jpg');
    background-repeat: no-repeat;
    background-position: absolute;
}
.flexcontainer{
display: flex;
color: aliceblue;
flex-direction: column;
justify-content: center;
align-items: center;
height: 95vh;
}
.flexcontainer div{
outline: 1px;
width: 40vw;
margin: 5px;
text-align: center;
padding: 20px;
font-family: cursive;
font-size: 12px;
}
a:link {
    color: fuchsia;
}
a:visited {
    color: fuchsia
}
a:hover {
    color: white;
}
a:active {
    color: fuchsia;
}