body{
    background-color: #eee;
   }
div{
    padding: 10px;
    background-color: white;
    border: solid 1px #ccc;
   }   
#float div {
    float:left;
    width: 30%;
   }
   #grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
   }
   #flexbox{
    display:flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
   }
   #flexbox div{
    align-items: center;
    width: 30%; 
    background-color: indigo;
   }
