.flex-container{
    display:flex;
   width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.flex-item{
    width:50px;
    height:50px;
    border-radius: 25%;
}
.verde{
    background-color: green;
    /* order: 2; */
}
.amarelo{ 
    background-color:yellow;
    /* order:2; */
}
.vermelho{
background-color: red;
/* order:1; */
 }