body {
    background: #f8f9fa;
    }
    .cor-principal {
        color: crimson;
        }
       h1 {
        font-weight: 900;
        height: 36px;
        margin: 0;
        line-height: 0.8;
        }
        section .container .col-lg-12 {
            background-color: white;
           }
           #carouselExampleIndicators{
            color:black;
            height: 210px;
           }
           #carouselExampleIndicators .carousel-indicators li{
            background-color: rgba(220, 20, 60, 0.3);
           }
           #carouselExampleIndicators .carousel-indicators .active{
            background-color: crimson;
           }
           #carouselExampleIndicators .carousel-control-next-icon, .carousel-control-prev-icon{
            background-color: crimson;
           }
           .carousel-caption{
            color: black;
            top: 0;
            padding: 60px 130px;
           }
           .home-food img {
            border-radius: 50%;
            max-width: 100%;
            height: auto;
            }
            footer {
                color: white;
                }
               footer .container .col-lg-12{
                background-color: maroon;
                padding: 60px;
               }
               .social-media a {
                padding: 0 10px;
                color: white;
                text-decoration: none;
                }
               .social-media a:hover {
                color: grey;
                }
                .public-banner{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;
                }
                .public-banner2{
                    display: flex;
                    justify-content: center;
                }
        .flexcontainer{
            display: flex;
            justify-content: center;
            flex-direction: row;
            padding-bottom: 50px;
            padding-top: 30px;
            flex-wrap: wrap;
        }
        
        .container1{
            width: 30vw;
            flex-direction: column;
        }
        .container2{
            width: 30vw;
            flex-direction: column;
            text-align: center;
            margin-bottom: 100px;
        }
        .container2{
            width: 30vw;
            height: 70px;
            flex-direction: column;
            text-align: center;
        }
        p{
            margin:0px;
        }
        .mapa{
            display: flex;
            justify-content: center;
            margin:40px;
            
        }
        .box{
            width: 70vw;
            align-content: center;
        }
        .container{
        
            margin-top: 20px;
        }